[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
requests = "*"
slackclient = ">=2.0.0"

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[requires]
python_version = "3.8"
